html {
  font-size: 20px
  font-family: "Arial"
  background-color: #a9c29d;
}

h1 {
  font-size: 30px;

  text-align: center;
}

h2 {
  font-size: 15px;

  text-align: center;
}

button {
  font-family: "arial", san serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgb(0 0 0 / 100%);
  padding: 4px 10px;
  cursor: pointer;
}
